body {
    overflow-x: hidden;
}

ul a:hover {
    color: #fff !important;
}

nav li {
    text-align: center;
    text-transform: uppercase;
    padding-left: 20px !important;
}

li>a:after {
    content: '';
    display: block;
    height: 1.5px;
    background: #fff;
    transform: scaleX(0);
    transition: transform .3s;
}



li>a:hover:after {
    transform: scaleX(1);
    transition: transform .3s;
}

.active {
    color: #fff !important;
}





.about-hero-title {
    position: absolute;
    top: 260px;
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    text-align: center;
}


.about-hero-subtitle {
    position: absolute;
    top: 465px;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
}


.wide-bg-clr {
    color: #fff;
    background-color: black;
}

.contact-btn {
    position: absolute;
    left: 60px;
    top: 430px;
    width: 205px;
    height: 60px;
    padding: 15 !important;
    border-radius: 30px !important;
}






/* */

.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel-default>.panel-heading a {
    display: block;
    padding: 10px 15px;
}

.panel-default>.panel-heading a:after {
    content: "";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
   
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
    background-color: #eee;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
    content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
    content: "\002b";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}


.panel-title a:hover
{
    text-decoration: none !important;
}














/* Footer */





.footer-color {
    background-color: rgb(0, 0, 59) !important;
    padding: 20px;
}

.mail-style {
    text-decoration: none;
    color: #fff;
}

.mail-style:hover {
    text-decoration: none;
    color: #0088e2;

}


.more-btn {
    padding-left: 425px !important;
    padding-top: 20px;
}


.sbt-btn {
    width: 175px;
    height: 60px;
    padding: 15 0 !important;
    border-radius: 30px !important;
}

#inputtext {
    color: #fff !important;
    background: transparent;
    border-radius: 0 !important;
    border: none;
    border-bottom: 1px solid #979797;
    outline: none;
    box-shadow: none;
}

#inputtext:focus {
    border-bottom: 1px solid #0088e2;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #fff !important;
    font-size: 17px;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff !important;
    opacity: 1;
    font-size: 17px;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff !important;
    opacity: 1;
    font-size: 17px;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff !important;
    font-size: 17px;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff !important;
    font-size: 17px;
}

::placeholder {
    /* Most modern browsers support this now. */
    color: #fff !important;
    font-size: 17px;
}

.footer-title-color {
    color: #fff;
}